.headerBox{
    background-color: #367ea8;
    padding: 10px 30px;
    z-index: 99;
    width: 100%;
    position: fixed
}
.signoutPowerBtn {
    background: #333;
    padding: 5px;
    border-radius: 16px;
    padding-right: 6px;
    padding-left: 7px;
    border: 1px solid #ff0;
}
.pullRight{
    float: right;
}
.heading{
    color: #FFF
}